@charset "utf-8";

@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400&display=swap");
@import url("https://webfontworld.github.io/SCoreDream/SCoreDream.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400&display=swap");
html {
  scroll-behavior: smooth;
}
body {
  font-size: 25px;
  color: #3b3b3d;
  /* font-family: 'Nanum Gothic', sans-serif; */
  font-family: "Cafe24Simplehae";
}

#wrap {
  width: 100%;
  overflow: hidden;
}
.inner {
  width: 1240px;
  margin: 0 auto;
}
.flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
h2 {
  font-size: 100px;
  font-weight: 100;
  font-family: "Poppins", sans-serif;
}
#about {
  height: 90px;
}
#design {
  height: 2px;
}
#uiux {
  height: 100px;
}
#contact {
  height: 75px;
}
/* HEADER */
header {
  width: 100%;
  height: 56px;
  border-top: 0.5px solid #686868a5;
  border-bottom: 0.5px solid #686868a5;
  position: fixed;
  backdrop-filter: blur(3px);
  background-color: #ffffff56;
  z-index: 100000;
  left: 0;
  top: 15px;
  font-family: "Alegreya Sans", sans-serif;
}
header .inner {
  position: relative;
}
header p {
  font-size: 19pt;
  font-weight: 400;
  margin-left: 10px;
}
header .main_nav {
  width: 400px;
}
header .main_nav li a {
  font-size: 15pt;
  margin-right: 25px;
  overflow: hidden;
  display: block;
}
header .main_nav a:last-child {
  margin-right: 0;
}
header ul li.show {
  color: #a75a50;
}
header ul li.show::after {
  left: 0;
}
header .main_nav a:hover {
  color: #a75a50;
  font-weight: 600;
}
header .main_nav a::after {
  content: "";
  position: relative;
  height: 2px;
  background: #a75a50;
  display: block;
  width: 100%;
  left: -100%;
  z-index: -1;
  transition: all 0.5s;
  top: 90%;
}

header .main_nav a:hover::after {
  left: 0;
}

header .main_nav a.active {
  color: #a75a50;
  font-weight: 600;
}
header .main_nav a.active::after {
  left: 0;
}
header .hamburger,
.nav_cross {
  display: none;
}

.side_nav {
  display: none;
  position: fixed;
  width: 100%;
  height: calc(100vh - 55px);
  backdrop-filter: blur(5px);
  background-color: #ffffff56;
  top: 55px;
  right: 0;
  text-align: center;
  z-index: 10000000;
}
.side_nav ul {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  height: 100%;
}
/* SECTION01 */
.sect01 {
  position: relative;
  height: 1000px;
  margin-bottom: 180px;
  padding: 200px 0;
}
.main_title {
  animation: main_title 2s forwards;
}
@keyframes main_title {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.main_sub {
  width: 1190px;
  display: block;
  margin: 0 auto;
  transition: all 0.2s;
}
.portfolio {
  width: 803px;
  position: absolute;
  top: 425px;
  left: 396px;
  transition: all 0.2s;
}
.mouse {
  width: 40px;
  display: block;
  margin: 0 auto;
  margin-top: 120px;
  transition: all 0.2s;
}
.bg_circle01 {
  background-color: #a75a50;
  width: 960px;
  height: 960px;
  border-radius: 50%;
  position: absolute;
  top: -40%;
  z-index: -10;
  animation: bg_circle01 1.5s forwards;
}
@keyframes bg_circle01 {
  from {
    transform: translateX(170%);
  }
  to {
    transform: translateX(107%);
  }
}
.bg_circle02 {
  background-color: #f1ede2;
  width: 600px;
  height: 600px;
  border-radius: 50%;
  position: absolute;
  top: 60%;
  z-index: -10;
  animation: bg_circle02 1.5s forwards;
  transform: translateX(0%);
}
@keyframes bg_circle02 {
  from {
    transform: translateX(-160%);
  }
  to {
    transform: translateX(-70%);
  }
}
/*SECTION02*/
main .sect02 {
  position: relative;
  margin: 200px auto 160px auto;
}
main .sect02 .sect02_title {
  position: absolute;
  top: -180px;
  transform: translateX(-100%);
  opacity: 0;
  transition: all 0.5s;
}
main .sect02 .sect02_title.active {
  transform: translateX(0%);
  opacity: 1;
}

main .sect02 .sub_line {
  width: 900px;
  height: 20px;
  position: relative;
  top: -50px;
  left: -540px;
  background-color: #dfc7bb;
  border-radius: 0 10px 10px 0;
  z-index: -10;
}
main .sect02 .introduce ul {
  height: 160px;
  font-weight: 200;
  font-size: 26px;
  font-family: "SCoreDream";
  position: relative;
}
main .sect02 .introduce div div {
  position: relative;
  top: -165px;
  left: -10px;
  transform: rotate(3deg);
  z-index: -10;
  width: 0px;
  height: 37px;
  background-color: #a75a50;
  transition: all 0.5s;
}
main .sect02 .introduce div div.active {
  width: 120px;
}
main .sect02 .introduce ul li:first-child {
  font-weight: 300;
  margin-bottom: 20px;
  color: #f1ede2;
}
main .sect02 .skill_icon {
  padding-right: 64px;
  position: relative;
  bottom: 80px;
}
main .sect02 .skill_icon ul {
  width: 890px;
}
main .sect02 .skill_icon ul li div {
  position: relative;
}
main .sect02 .skill_icon ul li img {
  filter: grayscale(100%);
}
main .sect02 .skill_icon ul li div img {
  position: absolute;
  filter: drop-shadow(3px 3px 10px #25252557);
  visibility: hidden;
}
/* HOVER */
main .sect02 .skill_icon ul li:hover > img {
  filter: grayscale(0);
}
/* main .sect02 .skill_icon ul li:hover div img {
  display: block;
} */

main .sect02 .skill_icon ul li:hover .bubble_ai img:nth-child(1) {
  top: -40px;
  left: -10px;
  transform: rotate(10deg);
  animation: hover 1s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_ai img:nth-child(2) {
  top: -80px;
  left: -73px;
  transform: rotate(-5deg);
  animation: hover 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_ai img:nth-child(3) {
  top: -125px;
  left: 32px;
  animation: hover 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_ai img:nth-child(4) {
  top: -170px;
  left: -40px;
  transform: rotate(-16deg);
  animation: hover 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_ai img:nth-child(5) {
  top: -210px;
  left: 65px;
  transform: rotate(4deg);
  animation: hover 1s;
  animation-delay: 0.4s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_ps img:nth-child(1) {
  top: -50px;
  left: -29px;
  transform: rotate(-1deg);
  animation: hover 1s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_ps img:nth-child(2) {
  top: -100px;
  left: -80px;
  transform: rotate(-5deg);
  animation: hover 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_ps img:nth-child(3) {
  top: -125px;
  left: 32px;
  animation: hover 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_ps img:nth-child(4) {
  top: -190px;
  left: -40px;
  transform: rotate(-16deg);
  animation: hover 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_pr img:nth-child(1) {
  top: -65px;
  left: -25px;
  transform: rotate(13deg);
  animation: hover 1s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_ae img:nth-child(1) {
  top: -57px;
  left: -50px;
  transform: rotate(-5deg);
  animation: hover 1s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_ae img:nth-child(2) {
  top: -125px;
  left: -20px;
  transform: rotate(5deg);
  animation: hover 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_ae img:nth-child(3) {
  top: -190px;
  left: -60px;
  transform: rotate(-6deg);
  animation: hover 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_html img:nth-child(1) {
  top: -100px;
  left: -37px;
  transform: rotate(7deg);
  animation: hover 1s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_css img:nth-child(1) {
  top: -70px;
  left: -55px;
  transform: rotate(10deg);
  animation: hover 1s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_css img:nth-child(2) {
  top: -150px;
  left: -45px;
  transform: rotate(-5deg);
  animation: hover 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_figma img:nth-child(1) {
  top: -60px;
  left: -60px;
  transform: rotate(-10deg);
  animation: hover 1s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_figma img:nth-child(2) {
  top: -120px;
  left: -95px;
  transform: rotate(-5deg);
  animation: hover 1s;
  animation-delay: 0.1s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_figma img:nth-child(3) {
  top: -170px;
  left: -22px;
  animation: hover 1s;
  animation-delay: 0.2s;
  animation-fill-mode: forwards;
}
main .sect02 .skill_icon ul li:hover .bubble_figma img:nth-child(4) {
  top: -210px;
  left: -100px;
  transform: rotate(-16deg);
  animation: hover 1s;
  animation-delay: 0.3s;
  animation-fill-mode: forwards;
}

/* ANIMATION */
@keyframes hover {
  0% {
    visibility: hidden;
  }
  100% {
    visibility: visible;
  }
}
main .sect02 .selpic {
  position: relative;
}
main .sect02 .selpic img:nth-child(2) {
  display: none;
  position: absolute;
  top: -50px;
  left: -50px;
  width: 105%;
}
main .sect02 .selpic:hover img:nth-child(1) {
  visibility: hidden;
}
main .sect02 .selpic:hover img:nth-child(2) {
  display: block;
}
main .sect02 .sect02_hovercircle {
  width: 159px;
  height: 159px;
  border-radius: 50%;
  background-color: #f1ede2;
  font-size: 18px;
  padding: 55px 0 0 40px;
  position: relative;
  top: -190px;
  left: 180px;
  z-index: -10;
}
main .bg_rectangle01 {
  width: 100vw;
  height: 400px;
  position: absolute;
  top: 37%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #dfc7bb;
  z-index: -20;
}
main .bg_logo01 {
  position: absolute;
  top: 410px;
  right: -27%;
  z-index: -10;
}
main .bg_logo02 {
  position: absolute;
  top: 750px;
  left: -46%;
  z-index: -10;
}
/* SECTION03 */
main .sect03 {
  position: relative;
  margin: 95px auto 300px auto;
}
main .sect03 .sect02_tit {
  margin-bottom: 50px;
}
main .sect03 ul {
  font-size: 20px;
  width: 800px;
  padding-top: 50px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  flex-wrap: wrap;
}
main .sect03_thumbnailbox {
  transform: translateY(8%);
  transition: all 0.6s;
  opacity: 0;
}
main .sect03_thumbnailbox.active {
  transform: translateY(0%);
  opacity: 1;
}
main .sect03 .thumbnailbox01 div div,
.thumbnailbox02 div,
.thumbnailbox03 div,
.thumbnailbox01 .hobak,
.thumbnailbox01 .isometric {
  border: 15px solid #f1ede2;
  cursor: pointer;
  border-radius: 10px;
  overflow: hidden;
}
main .sect03 .thumbnailbox01 .flex {
  width: 710px;
}
main .sect03 .thumbnailbox03 {
  margin-top: 30px;
}
main .sect03_thumbnailbox img {
  transition: all 0.3s;
}
main .sect03_thumbnailbox img:hover {
  scale: 1.2;
}
main .sect03 .thumbnailbox01,
.thumbnailbox02 {
  height: 1330px;

  flex-direction: column;
  justify-content: space-between;
}
main .sect03 .bg_rectangle02 {
  width: 100vw;
  height: 2060px;
  background-color: #dfc7bb;
  position: absolute;
  top: 1000px;
  left: 50%;
  transform: translateX(-50%);
  z-index: -20;
}
main .sect03 .bg_circle06 {
  display: none;
}

/* popup(wide) */

.wide .popupVideo {
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 90vh;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1000000;
  overflow: hidden;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 25px #25252557;
  display: none;
}
.wide .popupVideo div {
  width: 100%;
  height: 100%;
}
.wide .popupVideo iframe {
  width: inherit;
  height: inherit;
}
main .sect03 .wide .popup_box,
main .sect03 .wide .popup_box02 {
  width: 90%;
  height: 90vh;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1000000;
  overflow: hidden;
  border-radius: 30px;
  background-color: #fff;
  box-shadow: 0 0 25px #25252557;
  display: none;
}
main .sect03 .wide .popup_close {
  position: absolute;
  top: 40px;
  right: 50px;
  z-index: 10000000;
}
main .sect03 .popup_close .btn_close {
  border: 0;
  background: transparent;
  cursor: pointer;
}
.shadow {
  position: fixed;
  left: 0;
  top: 0;
  background-color: #25252594;
  filter: blur(7px);
  width: 100%;
  height: 100vh;
  display: none;
  z-index: 1000;
}
.notScroll {
  overflow: hidden;
  width: 100%;
  height: 100vh;
  touch-action: none;
}
main .sect03 .wide .popup_box03 {
  width: 90%;
  height: 90vh;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 100000;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 25px #25252557;
  display: none;
  overflow-y: hidden;
  scrollbar-width: 0;
}
main .sect03 .wide .popup03 {
  /* width: inherit; */
  height: inherit;
  overflow-y: scroll;
  display: flex;
  background-color: #fff;
  align-items: flex-start;
  justify-content: center;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}

.popup_box03 .popup03::-webkit-scrollbar {
  display: none;
}
main .sect03 .wide .popup_box04 {
  width: 90%;
  height: 90vh;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 100000;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 25px #25252557;
  display: none;
}
main .sect03 .wide .popup_box05 {
  width: 90%;
  height: 90vh;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 100000;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 25px #25252557;
  display: none;
}
main .sect03 .wide .popup_box06 {
  width: 90%;
  height: 90vh;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 100000;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 25px #25252557;
  display: none;
}
main .sect03 .wide .popup_box07 {
  width: 90%;
  height: 90vh;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 100000;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 25px #25252557;
  display: none;
}
main .sect03 .wide .popup_box08 {
  width: 90%;
  height: 90vh;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 100000;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 25px #25252557;
  display: none;
}
main .sect03 .sect03_thumbnailbox04 {
  display: none;
  transform: translateY(8%);
  transition: all 0.6s;
  opacity: 0;
}

/* MOBILE */
.mobile_pop .popupVideo {
  justify-content: center;
  align-items: center;
  width: 90%;
  height: 30vh;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1000000;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: none;
  display: none;
}
.mobile_pop .popupVideo div {
  width: 100%;
  height: 100%;
}
.mobile_pop .popupVideo iframe {
  width: inherit;
  height: inherit;
}
main .sect03 .mobile_pop .popup_box,
main .sect03 .mobile_pop .popup_box02,
main .sect03 .mobile_pop .popup_box04,
main .sect03 .mobile_pop .popup_box05,
main .sect03 .mobile_pop .popup_box06,
main .sect03 .mobile_pop .popup_box07,
main .sect03 .mobile_pop .popup_box08 {
  width: 90%;
  /* height: 500px; */
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 1000000;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: none;
  display: none;
}
main .sect03 .mobile_pop .popup_box03 {
  width: 90vw;
  height: 63vh;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 100000;
  overflow: hidden;
  border-radius: 0px;
  box-shadow: none;
  display: none;
  overflow-y: hidden;
  scrollbar-width: 0;
}
main .sect03 .mobile_pop .popup03 {
  width: inherit;
  height: inherit;
  overflow-y: scroll;
  display: flex;
  background-color: #fff;
  align-items: flex-start;
  justify-content: center;
  -ms-overflow-style: none; /* 인터넷 익스플로러 */
  scrollbar-width: none; /* 파이어폭스 */
}
main .sect03 .mobile_pop .popup03 img {
  width: inherit;
}
/* main .sect03 .mobile_pop .popup03 .arrow {
  position: absolute;
  top: 100px;
  width: 20px;
  animation: arrow 1s infinite alternate;
}
@keyframes arrow {
  from {
    transform: translateY(-15px);
  }
  to {
    transform: translateY(0px);
  }
} */

.popup_box03 .popup03::-webkit-scrollbar {
  display: none;
}
main .sect03 .mobile_pop .popup_close {
  position: absolute;
  top: 15px;
  right: 18px;
  scale: 0.7;
  z-index: 10000000;
}
/* main .sect03 .mobile_pop .popup_box04 {
  width: 90%;
  height: 90vh;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 100000;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 25px #25252557;
  display: none;
} */
/* main .sect03 .mobile_pop .popup_box05 {
  width: 90%;
  height: 90vh;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 100000;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 25px #25252557;
  display: none;
}
main .sect03 .mobile_pop .popup_box06 {
  width: 90%;
  height: 90vh;
  text-align: center;
  position: fixed;
  transform: translate(-50%, -50%);
  top: 50%;
  left: 50%;
  z-index: 100000;
  overflow: hidden;
  border-radius: 30px;
  box-shadow: 0 0 25px #25252557;
  display: none;
} */
/* SECTION04 */
main .sect04 {
  position: relative;
  margin-bottom: 450px;
}
main .sect04 .detail {
  font-size: 18px;
  padding: 8px 20px;
  background: #6e7d75;
  color: #f1ede2;
  border: 2px solid #f1ede2;
}
main .sect04 .inner {
  margin-bottom: 15px;
}
main .sect04 ul {
  font-size: 25px;
  width: 700px;
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  align-items: flex-end;
}
main .sect04 ul li {
  cursor: pointer;
}
main .sect04 ul li:hover {
  font-weight: 300;
  color: #a75a50;
}
main .sect04 ul li.active {
  backdrop-filter: drop-shadow(0 0 10px #f1ede2);
  font-weight: 400;
  color: #a75a50;
}
main .scroll_window {
  position: relative;
  transition: all 0.5s;
  display: none;
}
main .scroll_window.show {
  display: block;
}
main .scroll_window02 {
  position: relative;
  transition: all 0.5s;
  display: none;
}
main .scroll_window02.show {
  display: block;
}
main .scroll_window03 {
  position: relative;
  display: none;
}
main .scroll_window03.show {
  display: block;
}

main .sect04 .scroll_box {
  width: inherit;
  height: 670px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  border: 5px solid #f1ede2;
}

main .sect04 .scroll_window a {
  display: block;
  width: inherit;
  height: 100%;
  cursor: pointer;
}
main .sect04 .scroll_roll {
  width: inherit;
  height: fit-content;
  position: relative;
  filter: brightness(1);
  animation: BMA_scroll 10s infinite;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
}
main .sect04 .scroll_roll img {
  width: inherit;
  /* border-radius: 15px; */
}
@keyframes BMA_scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-80%);
  }
}

main .sect04 .scroll_window a:hover .scroll_roll {
  filter: brightness(0.5);
  animation-play-state: paused;
}
main .sect04 .sect04_roll a:hover .scroll_roll {
  filter: brightness(0.5);
  animation-play-state: paused;
}

main .sect04 .scroll_window .detail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1ede2;
  font-family: "SCoreDream";
  font-size: 18px;
  font-weight: 200;
  display: none;
}

main .sect04 .scroll_window:hover .detail {
  display: block;
}

/* .scroll_window02 */

main .sect04 .scroll_window02 .scroll_box {
  width: inherit;
  height: 670px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  border: 5px solid #f1ede2;
}

main .sect04 .scroll_window02 a {
  display: block;
  width: inherit;
  height: 100%;
  cursor: pointer;
}
main .sect04 .scroll_window02 .scroll_roll {
  width: inherit;
  height: fit-content;
  position: relative;
  filter: brightness(1);
  animation: pf_scroll 9s infinite;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
}
@keyframes pf_scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-87%);
  }
}
main .sect04 .scroll_window02 .scroll_roll img {
  width: inherit;
  /* border-radius: 15px; */
}

main .sect04 .scroll_window02 a:hover .scroll_roll {
  filter: brightness(0.5);
  animation-play-state: paused;
}
main .sect04 .sect04_roll a:hover .scroll_roll {
  filter: brightness(0.5);
  animation-play-state: paused;
}
main .sect04 .scroll_window02 .detail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1ede2;
  font-family: "SCoreDream";
  font-size: 18px;
  font-weight: 200;
  display: none;
}

main .sect04 .scroll_window02:hover .detail {
  display: block;
}

/* .scroll_window03 */

main .sect04 .scroll_window03 .scroll_box {
  width: inherit;
  height: 670px;
  border-radius: 30px;
  position: relative;
  overflow: hidden;
  border-radius: 30px;
  border: 5px solid #f1ede2;
}

main .sect04 .scroll_window03 a {
  display: block;
  width: inherit;
  height: 100%;
  cursor: pointer;
}
main .sect04 .scroll_window03 .scroll_roll {
  width: inherit;
  height: fit-content;
  position: relative;
  filter: brightness(1);
  animation: pf_scroll 10s infinite;
  animation-timing-function: ease-in-out;
  animation-play-state: running;
}
@keyframes pf_scroll {
  from {
    transform: translateY(0);
  }
  to {
    transform: translateY(-87%);
  }
}
main .sect04 .scroll_window03 .scroll_roll img {
  width: inherit;
  /* border-radius: 15px; */
}

main .sect04 .scroll_window03 a:hover .scroll_roll {
  filter: brightness(0.5);
  animation-play-state: paused;
}
main .sect04 .scroll_window03 .detail {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #f1ede2;
  font-family: "SCoreDream";
  font-size: 18px;
  font-weight: 200;
  display: none;
}

main .sect04 .scroll_window03:hover .detail {
  display: block;
}

/* MOBILE------------------- */

main .sect04 .sect04_roll02 {
  display: none;
}

main .sect04 .bg_circle03 {
  width: 620px;
  height: 620px;
  position: absolute;
  top: -300px;
  left: -240px;
  background-color: #a75a50;
  border-radius: 50%;
  z-index: -10;
  transition: all 0.5s;
}
@keyframes left01 {
  from {
    left: -700px;
  }
  to {
    left: -240px;
  }
}
@keyframes out {
  from {
    left: -240px;
  }
  to {
    left: -700px;
  }
}

/* SECTION05 */
main .sect05 .bg_circle04 {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #6e7d75;
  position: absolute;
  top: -475px;
  right: -630px;
  z-index: -10;
}

@keyframes right01 {
  from {
    right: -1160px;
  }
  to {
    right: -630px;
  }
}
@keyframes out02 {
  from {
    right: -630px;
  }
  to {
    right: -1160px;
  }
}
main .sect05 {
  margin-bottom: 180px;
  position: relative;
  font-family: "Poppins", sans-serif;
}
main .sect05 h2 {
  margin-bottom: 90px;
}
main .sect05 .sect05_body {
  transition: all 0.6s;
  opacity: 0;
}
main .sect05 .sect05_body.active {
  opacity: 1;
}
main .sect05 .contact_text {
  font-family: "SCoreDream";
  font-weight: 200;
  font-size: 33px;
  text-align: center;
  margin-bottom: 70px;
}
main .sect05 .contact_text p:nth-child(2) {
  font-size: 90px;

  font-family: "Poppins", sans-serif;
  margin-top: 70px;
  font-weight: 200;
}
main .sect05 .contact_text p:nth-child(2)::after {
  content: "";
  position: relative;
  height: 2px;
  background: #a75a50;
  display: block;
  width: 100%;
  z-index: -1;
  transition: all 0.5s;
  top: 90%;
  animation: underline 2s infinite;
}
@keyframes underline {
  from {
    width: 0%;
  }
  to {
    width: 100%;
  }
}
main .sect05 .contact_list {
  height: 200px;
  width: 860px;
  justify-content: space-between;
  margin: 0 auto;
}
/* main .sect05 .contact_list li {
  transition: all 0.3s;
} */
main .sect05 .contact_list li img:nth-child(2) {
  display: none;
}
main .sect05 .contact_list li:hover img:nth-child(1) {
  display: none;
}
main .sect05 .contact_list li:hover img:nth-child(2) {
  display: block;
  transform: translateY(-10px);
}
main .sect05 li {
  font-family: "Poppins", sans-serif;
  font-weight: 300;
  font-size: 23px;
}

.bg_circle05_box {
  overflow: hidden;
  position: absolute;
  bottom: -183px;
  left: -452px;
  width: 500px;
  height: 500px;
}
.bg_circle05 {
  width: 800px;
  height: 800px;
  border-radius: 50%;
  background-color: #a75a50;
  position: absolute;
  top: 0px;
  left: -305px;
  z-index: -10;
}
@keyframes left02 {
  from {
    left: -830px;
  }
  to {
    left: -452px;
  }
}
@keyframes out03 {
  from {
    left: -452px;
  }
  to {
    left: -830px;
  }
}
/* FOOTER */
footer {
  width: 100%;
  height: 50px;
  font-size: 15px;
  background-color: #a18071;
  color: #f1ede2;
  font-family: "Poppins", sans-serif;
  font-weight: 200;
}
footer .top {
  width: 50px;
}
/* --------------------------RESPONSIVE---------------------------- */
/* 1280px */
@media screen and (max-width: 1395px) {
  .inner {
    width: 1000px;
    margin: 0 auto;
  }
  .sect01 {
    margin-bottom: 180px;
    padding: 200px 0;
  }
  .main_sub {
    width: 960px;
  }
  .portfolio {
    width: 650px;
    position: absolute;
    top: 380px;
    left: 330px;
  }
  .mouse {
    width: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 250px;
  }
  .bg_circle01 {
    background-color: #a75a50;
    width: 960px;
    height: 960px;
    border-radius: 50%;
    position: absolute;
    top: -40%;
    z-index: -10;
  }
  .bg_circle02 {
    background-color: #f1ede2;
    width: 570px;
    height: 570px;
    border-radius: 50%;
    position: absolute;
    z-index: -10;
  }
  /*SECTION02*/
  main .sect02 .about_body {
    margin: 70px 0 50px 0;
  }
  main .sect02 .skill_icon ul {
    width: 730px;
  }
  main .sect02 .skill_icon ul li div {
    position: relative;
  }
  main .sect02 .skill_icon li div img {
    position: absolute;
    top: -100px;
    left: 50px;
  }
  main .sect02 .skill_icon ul li > img {
    width: 90%;
  }
  main .sect02 .sect02_hovercircle {
    position: relative;
    top: -190px;
    left: 185px;
    z-index: -10;
  }
  main .bg_logo01 {
    position: absolute;
    top: -95px;
    right: -14%;
    z-index: -10;
  }
  main .bg_logo01 img {
    width: 415px;
  }
  main .bg_logo02 {
    position: absolute;
    top: 750px;
    left: -15%;
    z-index: -10;
  }
  main .bg_logo02 img {
    width: 500px;
  }
  /* SECTION03 */

  main .sect03 ul {
    font-size: 20px;
    width: 370px;
    padding: 0;
    flex-wrap: wrap;
  }
  /* main .sect03 .bg_rectangle02 {
    width: 100%;
    height: 1060px;
    background-color: #dfc7bb;
    position: absolute;
    top: 500px;
    left: 0;
    z-index: -20;
  } */
}

/* RESPONSIVE (750px) */
@media screen and (max-width: 1140px) and (min-width: 690px) {
  .inner {
    width: 660px;
    margin: 0 auto;
  }
  h2 {
    text-align: center;
  }
  /* HEADER */
  header .inner .main_nav {
    display: none;
  }
  header .hamburger {
    display: block;
  }

  /* active */

  header .hamburger.active {
    display: none;
  }
  header .nav_cross.active {
    display: block;
  }

  /* SECTION01 */
  .sect01 {
    margin-bottom: 300px;
    padding: 320px 0;
  }
  .main_sub {
    width: 590px;
  }
  .portfolio {
    width: 398px;
    position: absolute;
    top: 430px;
    left: 220px;
  }
  .mouse {
    width: 40px;
    display: block;
    margin: 0 auto;
    margin-top: 310px;
  }
  .bg_circle01 {
    background-color: #a75a50;
    width: 630px;
    height: 630px;
    border-radius: 50%;
    position: absolute;
    top: -20%;
    z-index: -10;
  }
  .bg_circle02 {
    background-color: #f1ede2;
    width: 460px;
    height: 460px;
    border-radius: 50%;
    position: absolute;
    top: 60%;
    z-index: -10;
  }
  /*SECTION02*/
  main .sect02 {
    margin-bottom: 200px;
  }
  main .sect02 h2 {
    text-align: center;
  }
  main .sect02 .skill_icon ul {
    width: 730px;
  }
  main .sect02 .skill_icon ul li img {
    width: 90%;
  }
  main .sect02 .bg_rectangle01 {
    height: 630px;
    top: 51%;
  }
  main .sect02 .sub_line {
    width: 900px;
    height: 10px;
    position: relative;
    top: -24px;
    left: 120px;
    background-color: #dfc7bb;
    border-radius: 5px;
    z-index: -10;
  }
  main .sect02 .about_body {
    display: block;
    margin: 100px auto 85px auto;
    line-height: 150%;
    width: 580px;
    font-size: 25px;
  }
  main .sect02 .selpic {
    position: relative;
    top: -40px;
    left: -740px;
  }
  main .sect02 .sect02_hovercircle {
    display: none;
  }
  main .bg_logo01 {
    position: absolute;
    top: 110px;
    right: -36%;
    z-index: -10;
  }
  main .bg_logo01 img {
    width: 350px;
  }
  main .bg_logo02 {
    position: absolute;
    top: 860px;
    left: -6%;
    z-index: -10;
  }
  main .bg_logo02 img {
    width: 310px;
  }
  /* SECTION03 */
  main .sect03 {
    margin: 75px 0 350px 0;
    position: relative;
  }
  main .sect03 h2 {
    display: block;
    margin: 0 auto 30px auto;
  }
  main .sect03 .inner {
    flex-direction: column;
  }
  main .sect03 ul {
    width: 100%;
    font-size: 18px;
  }
  main .sect03 .bg_rectangle02 {
    width: 100%;
    height: 2060px;
    background-color: #dfc7bb;
    position: absolute;
    top: 500px;
    left: 0;
    z-index: -20;
  }
  main .sect03 .bg_circle06 {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    background-color: #a75a50;
    z-index: -10;
    position: absolute;
    bottom: -80px;
    right: -220px;
    display: block;
  }
}
/* 360px */
@media screen and (max-width: 689px) {
  #wrpa {
    font-family: "Poppins", sans-serif;
  }
  .inner {
    width: 328px;
    margin: 0 auto;
  }
  h2 {
    font-size: 60px;
    text-align: center;
    font-family: "Poppins", sans-serif;
  }
  header {
    height: 40px;
  }
  header .inner ul {
    display: none;
  }
  header p {
    display: none;
  }
  header .hamburger {
    display: block;
    scale: 0.9;
  }
  header .nav_cross {
    scale: 0.9;
  }

  /* active */

  header .hamburger.active {
    display: none;
  }
  header .nav_cross.active {
    display: block;
  }
  .side_nav.active {
    display: block;
  }

  .sect01 {
    margin-bottom: -260px;
    padding: 250px 0;
  }
  .main_sub {
    width: 300px;
  }
  .portfolio {
    width: 220px;
    position: absolute;
    top: 303px;
    left: 110px;
  }
  .mouse {
    width: 26px;
    display: block;
    margin: 0 auto;
    margin-top: 250px;
  }
  .bg_circle01 {
    background-color: #a75a50;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    position: absolute;
    top: -3%;
    z-index: -10;
  }
  @keyframes bg_circle01 {
    from {
      transform: translateX(170%);
    }
    to {
      transform: translateX(70%);
    }
  }
  .bg_circle02 {
    background-color: #f1ede2;
    width: 150px;
    height: 150px;
    border-radius: 50%;
    position: absolute;
    top: 45%;
    z-index: -10;
    animation: bg_circle02 1.5s forwards;
  }

  @keyframes bg_circle02 {
    from {
      transform: translateX(-170%);
    }
    to {
      transform: translateX(-50%);
    }
  }
  /*SECTION02*/

  #about {
    height: 0px;
  }
  main .sect02 .sub_line {
    height: 5px;
    top: -25px;
    left: -631px;
    border-radius: 2.5px;
  }
  main .sect02 .skill_icon ul li img {
    width: 60%;
  }
  main .sect02 .selpic img {
    width: 150px;
  }
  main .sect02 .sect02_hovercircle {
    display: none;
  }
  main .bg_logo01 {
    position: absolute;
    top: -86px;
    right: 64%;
    z-index: -10;
  }
  main .bg_logo01 img {
    width: 190px;
  }
  main .bg_logo02 {
    position: absolute;
    top: 270px;
    left: 68%;
    z-index: -10;
  }
  main .bg_logo02 img {
    width: 180px;
  }
  main .sect02 {
    position: relative;
    margin: 200px auto 160px auto;
  }
  main .sect02 .sect02_title {
    position: absolute;
    top: -130px;
    transform: translateX(-100%);
    transition: all 0.5s;
    width: 328px;
    margin: 0 auto;
  }
  main .sect02 .sect02_title.active {
    transform: translateX(0%);
  }
  main .sect02 .sect02_title h2 {
    width: 100%;
  }
  main .introduce {
    flex-direction: column;
    align-items: flex-start;
    width: 328px;
    padding-left: 10px;
  }
  main .sect02 .introduce ul {
    height: 95px;
    font-weight: 200;
    font-size: 14px;
    font-family: "SCoreDream";
    position: relative;
  }
  main .sect02 .introduce div div {
    position: relative;
    top: -100px;
    left: -10px;
    transform: rotate(3deg);
    z-index: -10;
    width: 0px;
    height: 25px;
    background-color: #a75a50;
    transition: all 0.5s;
  }
  main .sect02 .introduce div div.active {
    width: 73px;
  }
  main .sect02 .introduce ul li:first-child {
    font-weight: 300;
    margin-bottom: 20px;
    color: #f1ede2;
  }
  main .sect02 .skill_icon {
    padding-right: 64px;
    position: relative;
    bottom: 0;
  }
  main .sect02 .skill_icon ul {
    width: 400px;
    animation: sect02 5s infinite;
    animation-direction: alternate;
    animation-timing-function: ease-in-out;
    transform: translateX(0%);
  }
  @keyframes sect02 {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-45%);
    }
  }
  main .sect02 .skill_icon ul:hover {
    animation-play-state: paused;
  }
  main .sect02 .skill_icon ul li div {
    position: relative;
  }
  main .sect02 .skill_icon ul li img {
    filter: grayscale(100%);
  }
  main .sect02 .skill_icon ul li div img {
    position: absolute;
    filter: drop-shadow(3px 3px 10px #25252557);
    visibility: hidden;
    width: 110%;
  }
  main .sect02 .selpic {
    position: absolute;
    scale: 0.9;
    right: 0;
    transform: translate(25%, -30%);
  }
  main .sect02 .selpic img:first-child {
    transform: scaleX(-1);
  }
  /* HOVER */
  main .sect02 .skill_icon ul li:hover > img {
    filter: grayscale(0);
  }
  main .sect02 .skill_icon ul li:hover .bubble_ai img:nth-child(1) {
    top: -30px;
    left: -10px;
    transform: rotate(10deg);
    animation: hover 1s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_ai img:nth-child(2) {
    top: -55px;
    left: -12px;
    transform: rotate(-3deg);
    animation: hover 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_ai img:nth-child(3) {
    top: -76px;
    left: 15px;
    transform: rotate(3deg);
    animation: hover 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_ai img:nth-child(4) {
    top: -103px;
    left: -17px;
    transform: rotate(-16deg);
    animation: hover 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_ai img:nth-child(5) {
    top: -135px;
    left: 19px;
    transform: rotate(4deg);
    animation: hover 1s;
    animation-delay: 0.4s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_ps img:nth-child(1) {
    top: -25px;
    left: -2px;
    transform: rotate(11deg);
    animation: hover 1s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_ps img:nth-child(2) {
    top: -53px;
    left: -19px;
    transform: rotate(-5deg);
    animation: hover 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_ps img:nth-child(3) {
    top: -77px;
    left: 20px;
    transform: rotate(-5deg);
    animation: hover 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_ps img:nth-child(4) {
    top: -94px;
    left: -19px;
    transform: rotate(-5deg);
    animation: hover 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_pr img:nth-child(1) {
    top: -32px;
    left: -13px;
    transform: rotate(9deg);
    animation: hover 1s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_ae img:nth-child(1) {
    top: -29px;
    left: -34px;
    transform: rotate(-5deg);
    animation: hover 1s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_ae img:nth-child(2) {
    top: -50px;
    left: -9px;
    transform: rotate(5deg);
    animation: hover 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_ae img:nth-child(3) {
    top: -73px;
    left: -33px;
    transform: rotate(-6deg);
    animation: hover 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_html img:nth-child(1) {
    top: -39px;
    left: -10px;
    transform: rotate(7deg);
    animation: hover 1s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_css img:nth-child(1) {
    top: -25px;
    left: -11px;
    transform: rotate(10deg);
    animation: hover 1s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_css img:nth-child(2) {
    top: -57px;
    left: -23px;
    transform: rotate(-5deg);
    animation: hover 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_figma img:nth-child(1) {
    top: -25px;
    left: -25px;
    transform: rotate(-10deg);
    animation: hover 1s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_figma img:nth-child(2) {
    top: -43px;
    left: -15px;
    transform: rotate(2deg);
    animation: hover 1s;
    animation-delay: 0.1s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_figma img:nth-child(3) {
    top: -67px;
    left: -22px;
    animation: hover 1s;
    animation-delay: 0.2s;
    animation-fill-mode: forwards;
  }
  main .sect02 .skill_icon ul li:hover .bubble_figma img:nth-child(4) {
    top: -86px;
    left: -48px;
    transform: rotate(-16deg);
    animation: hover 1s;
    animation-delay: 0.3s;
    animation-fill-mode: forwards;
  }

  /* ANIMATION */
  @keyframes hover {
    0% {
      visibility: hidden;
    }
    100% {
      visibility: visible;
    }
  }
  main .sect02 .selpic img:nth-child(2) {
    display: none;
    position: absolute;
    top: -50px;
    left: -50px;
    width: 105%;
  }
  main .sect02 .selpic:hover img:nth-child(1) {
    visibility: visible;
  }
  main .sect02 .selpic:hover img:nth-child(2) {
    display: none;
  }
  main .bg_rectangle01 {
    width: 100vw;
    height: 450px;
    position: absolute;
    top: 58%;
    left: 50%;
    transform: translateX(-50%);
    background-color: #dfc7bb;
    z-index: -20;
  }
  main .bg_logo02 {
    position: absolute;
    top: 750px;
    left: -46%;
    z-index: -10;
  }
  main .bg_logo01 {
    position: absolute;
    top: -147px;
    right: -20%;
    z-index: -10;
  }

  /*-------SECTION03-------  */
  main .sect03 {
    position: relative;
    margin: 95px auto 120px auto;
  }
  main .sect03 .sect02_tit {
    flex-direction: column;
    margin-bottom: 25px;
  }
  main .sect03 ul {
    margin-top: 20px;
    font-size: 10pt;
    width: 260px;
  }
  main .sect03 .sect03_thumbnailbox {
    display: none;
  }
  main .sect03 .sect03_thumbnailbox04 {
    display: flex;
    flex-wrap: wrap;
  }
  main .sect03 .sect03_thumbnailbox04.active {
    transform: translateY(0%);
    opacity: 1;
  }
  main .sect03 .sect03_thumbnailbox04 div {
    width: calc((100% - 10px) / 2);
    margin: 5px 0;
    border: 5px solid #f1ede2;
    border-radius: 5px;
  }
  main .sect03,
  .sect03_thumbnailbox04 div img {
    width: 100%;
  }
  main .sect03 .bg_rectangle02 {
    width: 100vw;
    height: 1300px;
    background-color: #dfc7bb;
    position: absolute;
    top: 42%;
    left: 50%;
    transform: translateX(-50%);
    z-index: -20;
  }

  /* ------------SECTION04------------ */
  main .sect04 {
    margin-bottom: 160px;
  }
  main .sect04 .sect04_tit {
    flex-direction: column;
  }
  main .sect04 ul {
    font-size: 12px;
    margin-top: 20px;
    width: 90%;
    padding: 0 5px;
    flex-wrap: wrap;
  }
  main .sect04 .sect04_roll {
    display: none;
  }
  main .sect04 .scroll_window,
  .scroll_window02 {
    opacity: 0;
    transform: translateY(5%);
    transition: all 0.8s;
  }
  main .sect04 .scroll_window .scroll_box {
    width: inherit;
    height: 550px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 5px solid #f1ede2;
  }
  main .sect04 .scroll_window02 .scroll_box {
    width: inherit;
    height: 550px;
    position: relative;
    overflow: hidden;
    border-radius: 5px;
    border: 5px solid #f1ede2;
  }
  main .sect04 .scroll_window.reveal {
    transform: translateY(0%);
    opacity: 1;
  }
  main .sect04 .scroll_window02.reveal {
    transform: translateY(0%);
    opacity: 1;
  }
  main .sect04 .scroll_roll {
    filter: brightness(1);
    animation: BMA_scroll 6s alternate infinite;
  }

  main .sect04 .scroll_window02 .scroll_roll {
    filter: brightness(1);
    animation: pf_scroll 8s alternate infinite;
  }

  @keyframes BMA_scroll {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-35%);
    }
  }
  @keyframes pf_scroll {
    from {
      transform: translateY(0);
    }
    to {
      transform: translateY(-57.5%);
    }
  }
  main .sect04 .scroll_window a:hover .scroll_roll {
    filter: brightness(1);
    animation-play-state: running;
  }
  main .sect04 .scroll_window:hover p {
    display: none;
  }
  main .sect04 .scroll_window02 a:hover .scroll_roll {
    filter: brightness(1);
    animation-play-state: running;
  }
  main .sect04 .scroll_window02:hover p {
    display: none;
  }
  main .sect04 .sect04_roll02 {
    display: block;
  }
  main .sect04 .sect04_roll02 .swiper-pagination {
    visibility: hidden;
  }

  /* ---------SECTION05--------- */
  #contact {
    height: 100px;
  }
  main .sect05 {
    margin-bottom: 150px;
  }
  main .sect05 .bg_circle04 {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: #6e7d75;
    position: absolute;
    top: -37%;
    right: 0;
    transform: translateX(120%);
    z-index: -10;
    transition: all 0.5s;
  }
  main .sect05 .bg_circle04.show {
    transform: translateX(63%);
  }
  main .sect05 .contact_text {
    font-size: 18px;
  }
  main .sect05 .contact_text p:nth-child(2) {
    font-size: 27px;
    font-family: "Poppins", sans-serif;
    margin-top: 70px;
    font-weight: 300;
  }
  main .sect05 .contact_list {
    width: inherit;
    height: 75px;
  }
  main .sect05 .contact_list img {
    scale: 0.6;
  }
  .bg_circle05 {
    width: 450px;
    height: 450px;
    border-radius: 50%;
    background-color: #a75a50;
    position: absolute;
    top: 0px;
    left: 0px;
  }
  .bg_circle05_box {
    overflow: hidden;
    position: absolute;
    bottom: -31%;
    left: 0%;
    transform: translateX(-100%);
    width: 500px;
    height: 175px;
    transition: all 0.5s;
    z-index: -1000;
  }
  .bg_circle05_box.show {
    transform: translateX(-53%);
  }

  /* -------FOOTER------- */
  footer {
    height: 30px;
    font-size: 10px;
    font-weight: 200;
  }
  footer .top {
    width: 36px;
  }
  footer img {
    scale: 0.7;
  }
}
